:root {
  --my-orange: rgb(229, 134, 67);
  --subheading: rgb(82, 82, 82);
  --description: rgb(79, 79, 79);
  --hero-white: rgb(246, 246, 246);
  --black: rgb(60, 60, 60);
}
/* Home section */

.home{
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
}


.navbar{
  height: 10vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 100px;
  position: fixed;
  top: 0;
  background-color: white;
  border-bottom: 1px solid var(--my-orange);
  z-index: 100;
 }

.logo{
  width: 220px;
  height: 50px;
  overflow: hidden;
}

.logo > img{
  width: 100%;
  height: 100%;
  display: block;
  top: 0;
  object-fit: cover;
}

.navbar-items {
  display: flex;
}


.navbar-item{
  display: flex;
  align-items: center;
  margin-right: 40px;
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: bold;
  color: var(--subheading);
}

.hero{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: var(--hero-white);
}

.hero-subheading1{
  font-size: 2.5rem;
  color: var(--description);
}

.hero-subheading2{
  width: 100%;
  font-size: 3.5rem;
  color: var(--subheading);
  display: inline-flex;
  height: 60px;
  overflow: hidden;
}

.dynamic-text{
  margin-left: 20px;
  color: var(--my-orange);
}

.dynamic-text li{
  position: relative;
  top: 0;
  animation: slideup 10s steps(4) infinite;
}

.dynamic-text li span{
  position: relative;
}

.dynamic-text li span::after{
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  border-left: 5px solid var(--my-orange);
  left: 0;
  animation: typing 2.5s steps(10) infinite;
  background-color: var(--hero-white);;
}

.hero-heading{
  font-size: 6rem;
  color: var(--black);
  margin: 10px 0px;
}

.download-btn{
  padding: 5px 10px;
  border-radius: 5px;
  border: none;
  margin-top: 80px;
  font-size: 1.1rem;
  border: 2px solid var(--my-orange);
  background-color: transparent;
  transition: .3s ease all;
  font-weight: 600;
  color: rgb(72, 72, 72);
  cursor: pointer;
}

.hero-image{
    height: 600px;
}

.hero-image img{
    width: 100%;
    height: 100%;
    display: block;
    object-position: top;
    object-fit: cover;
}

@keyframes typing{
  30%{
    left: 100%;
    margin: 0px -20px 0px 20px;
  }

  70%{
    left: 100%;
    margin: 0px -20px 0px 20px;
  }

  100%{
    left: 0%;
    margin: 0px;
  }
}

@keyframes slideup{
  100%{
    top: -260px;
  }
}

/* End of Home section */

/* About section */

.about{
  min-height: 92vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about-image{
  height: 500px;
  width: 350px;
  position: relative;
}

.about-img{
  width: 100%;
  height: 100%;
  display: block;
  top: 0;
  object-fit: cover;
  border: 10px solid lightgrey;
}

.about-img-background{
  position: absolute;
  width: 100%;
  height: 100%;
  left: -50px;
  top: 50px;
  border: 10px solid var(--my-orange);
  z-index: -1;
}

.about-text-content{
  margin-left: 100px;
  width: 700px;
}

.about-text-header{
  text-transform: uppercase;
  font-size: 3rem;
  font-weight: 500;
}

.about-text-subheading{
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 30px;
  color: var(--black);
}

.about-text{
  line-height: 30px;
  font-weight: 500;
  font-family:'Courier New', Courier, monospace;
  margin-bottom: 20px;
  color: var(--description);
}

.about-text-header span{
  color: var(--my-orange);
}

/* End of About section */

/* Projects section */

.projects{
  min-height: 92vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 80px 0px;
  background-color: var(--hero-white);
}

.projects-header{
  text-transform: uppercase;
  display: flex;
  align-items: center;
}

.projects-header h2{
  font-size: 2.5rem;
  font-weight: 500;
  color: var(--black);
}

.bar{
  height: 5px;
  border-radius: 20px;
  width: 100px;
  background-color: var(--my-orange);
  margin: 0px 30px;
}

.projects-header span{
  color: var(--my-orange);
}

.projects-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.project{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1200px;
  height: 400px;
  margin-top: 100px;
  padding: 30px;
  position: relative;
  border-bottom: 3px solid var(--my-orange);
}

.project-text-content{
  height: 100%;
}

.project-name{
  font-size: 2rem;
  font-weight: 500;
  color: var(--black);
}

.tools-header{
  font-size: 1.3rem;
  font-weight: 500;
  margin-bottom: 10px;
  margin-top: 30px;
}

.project-description{
  width: 600px;
  font-size: 1.2rem;
  margin: 10px 0px;
  line-height: 25px;
  color: var(--description);
}

.tools, .skill-tools{
  display: flex;
  flex-wrap: wrap;
  width: 500px;
}

.tool, .skill-tool{
  margin: 5px;
  padding: 8px 12px;
  border-radius: 15px;
  font-size: .9rem;
  background-color: var(--my-orange);
  color: white;
}

.project-btns{
  bottom: 30px;
  position: absolute;
  width: 320px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.project-btn{
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 12px 12px;
  background-color: transparent;
  border: 1px solid var(--my-orange);
  border-radius: 10px;
  font-size: 1rem;
  width: 150px;
  color: var(--black);
  cursor: pointer;
}

.project-btn:hover{
    border: 1px solid var(--black);
}

.project-image{
  height: 250px;
  width: 500px;
  overflow: hidden;
}

.project-image img{
  width: 100%;
  height: 100%;
  display: block;
  top: 0;
  object-fit: cover;
}

/* End of Projects section */

/* Skills section */

.skills{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 80px 0px;
}

.skills-subheading{
  color: var(--description);
  font-weight: 500;
  font-size: 1.2rem;
  margin: 10px;
}

.skills-wrapper{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.skill{
  width: 400px;
  height: 280px;
  margin: 30px 50px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.skill-image{
  width: 40px;
  height: 40px;
  overflow: hidden;
}

.skill-image img{
  height: 100%;
  width: 100%;
  display: block;
  top: 0;
  object-fit: cover;
  color: orange !important;
}

.skill-name{
  font-size: 1.4rem;
  color: var(--black);
  margin: 10px 0px;
}

.skill-description{
  color: var(--description);
  text-align: center;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  line-height: 20px;
}

.skill-tools{
  position: absolute;
  top: 240px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.skill-tool{
  font-size: .8rem;
  padding: 4px 10px;
}

/* End of Skills section */

/* Contact section */

.contact{
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  padding: 40px 0px;
  position: relative;
  background-color: var(--hero-white);
}

.contact-header{
  font-size: 2.5rem;
  color: var(--my-orange);
  text-transform: uppercase;
  margin: 80px 50px;
}

.contact-icons{
  margin-top: 5px;
  display: flex;
}

.contact-icon{
  margin-right: 20px;
  size: 1rem;
}

.contact-body{
  padding: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.contact-left-section{
  width: 500px;
}

.contact-left-section > h4{
  font-size: 2rem;
  text-transform: uppercase;
  color: var(--subheading);
}

.contact-left-section > p{
  width: 350px;
  line-height: 30px;
  color: var(--description);
  margin: 20px 0px;
}

.contact-right-section{
  width: 600px;
}

.input-name, .input-email, .input-message{
  font-size: .9rem;
  width: 100%;
  margin: 10px 0px;
  border-radius: 3px;
  padding: 10px;
  border: 2px solid grey;
}

.alert-box{
  color: black;
  width: 100%;
  font-size: 1rem;
  margin-top: 20px;
}

.contact-mail-section{
  display: flex;
  align-items: center;
}

.mail-icon{
  padding: 10px;
  border-radius: 50%;
  background-color: rgb(235, 235, 235);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
}

.mail-text-content h4{
  font-size: .9rem;
  margin: 0px;
  color: var(--black);
  font-weight: 500;
}

.mail-text-content p{
  color: var(--description);
  font-weight: 600;
  font-size: .9rem;
}

/* End of Contact section */

/* Bottom section */

.bottom-page{
  position: absolute;
  height: 150px;
  width: 100%;
  background-color: rgb(34, 44, 52);
  bottom:  0;
  color: white;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bottom-page-header{
  text-transform: uppercase;
  margin: 20px 0px 10px 0px;
}

.bottom-page-header > span{
  color: var(--my-orange);
}

.bottom-page-subheading{
  color: rgb(227, 227, 227);
}

.bottom-page-declaimer{
  position: absolute;
  color: rgb(200, 200, 200);
  bottom: 5px;
  font-size: .8rem;
}

/* End of Bottom section */

@media only screen and (max-width: 1300px){
  .navbar{
    padding: 0px 20px;
  }

  .navbar-items{
    /* margin-right: 20px; */
    display: none;
  }

  .hero-heading{
    font-size: 5rem;
  }

  .hero-subheading1{
    font-size: 2rem;
  }
  
  .hero-subheading2{
    font-size: 2rem;
    height: 35px;
  }
  
  .hero-image{
      height: 400px;
  }

  @keyframes slideup{
    100%{
      top: -147px;
    }
  }

  .about{
    padding: 0px 40px;
  }
  
  .about-image{
    height: 450px;
    width: 300px;
  }
  
  .about-img-background{
    left: -30px;
    top: 30px;
  }

  
  .project{
    width: 900px;
    margin-top: 80px;
    padding: 20px 0px;
    display: flex;
    justify-content: space-between;
  }
  
  .project-name{
    font-size: 1.6rem;
  }
  
  .tools-header{
    font-size: 1.2rem;
  }
  
  .project-description{
    width: 450px;
    font-size: 1rem;
  }
  
  .tools, .skill-tools{
    width: 450px;
  }
  
  .tool, .skill-tool{
    margin: 5px;
    padding: 4px 8px;
    border-radius: 12px;
    font-size: .8rem;
  }
  
  .project-btns{
    bottom: 20px;
    width: 250px;
  }
  
  .project-btn{
    padding: 10px 10px;
    font-size: .9rem;
    width: 120px;
  }
  
  .project-image{
    height: 230px;
    width: 450px;
  }


  .skills{
    padding: 50px 0px;
  }
  
  .skill{
    width: 380px;
    height: 250px;
    margin: 30px 30px;
    padding: 20px;
  }
  
  .skill-image{
    width: 30px;
    height: 30px;
  }
  
  .skill-name{
    font-size: 1.2rem;
  }
  
  .skill-tools{
    position: absolute;
    top: 220px;
  }
  
  .skill-tool{
    font-size: .7rem;
    padding: 4px 8px;
  }
  

  .contact{
    padding: 20px 0px;
  }
  
  .contact-header{
    margin: 50px 50px;
  }
  
  .contact-body{
    padding: 20px;
  }
  
  .contact-left-section{
    width: 400px;
  }
  
  .contact-left-section > h4{
    font-size: 1.7rem;
  }
  
  .contact-left-section > p{
    width: 320px;
    line-height: 25px;
    margin: 15px 0px;
  }
  
  .contact-right-section{
    width: 450px;
  }
  
  .input-name, .input-email, .input-message{
    margin: 5px 0px;
  }
  
  .alert-box{
    color: var(--description);
    font-size: .9rem;
  }
}

@media only screen and (max-width: 900px){
  .navbar{
    padding: 0px 20px;
    height: 80px;
  }

  .navbar-item{
    margin-right: 5px;
    font-size: .7rem;
  }

  .logo{
    width: 150px;
    height: 35px;
  }

  .hero{
    padding-top: 120px;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }
  
  .hero-subheading1{
    font-size: 20px;
    margin-bottom: 0px;
  }
  
  .hero-subheading2{
    font-size: 24px;
    color: var(--subheading);
    margin-top: 50px;
    height: 25px;
  }
  
  .dynamic-text{
    margin-left: 10px;
  }

  .dynamic-text li{
    margin-bottom: 10px;
    animation: slideup 9s steps(3) infinite;
  }

  .dynamic-text li span::after{
    animation: typing 3s steps(9) infinite;
  }
  
  .hero-heading{
    font-size: 40px;
  }
  
  .download-btn{
    padding: 4px 8px;
    margin-top: 15px;
    font-size: 12px;
    border: 1px solid var(--my-orange);
  }
  
  .hero-image{
    height: 400px;
    margin-top: 40px;
  }
  
  @keyframes slideup{
    100%{
      top: -115px;
    }
  }


  .about{
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    padding: 40px 20px;
    text-align: center;
  }

  .about-text-content{
    width: 400px;
    margin-left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .about-image{
    height: 400px;
    width: 250px;
    margin: 10px 0px 50px 0px;
  }
  
  .about-img{
    border: 6px solid lightgrey;
  }
  
  .about-img-background{
    left: -30px;
    top: 30px;
    border: 6px solid var(--my-orange);
  }
  
  .about-text-header{
    font-size: 2.2rem;
  }
  
  .about-text-subheading{
    font-size: 1.2rem;
  }
  
  .about-text{
    line-height: 25px;
    width: 300px;
  }


  .projects{
    padding: 50px 20px;
  }
  
  .projects-header{
    text-transform: uppercase;
    display: flex;
    align-items: center;
  }
  
  .projects-header h2{
    font-size: 1.6rem;
  }
  
  .bar{
    width: 30px;
    margin: 0px 10px;
  }
  
  .project{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 320px;
    height: fit-content;
    margin-top: 60px;
    text-align: center;
    padding: 10px 30px;
  }
  
  .project-name{
    font-size: 1.4rem;
  }
  
  .tools-header{
    font-size: 1.2rem;
  }
  
  .project-description{
    width: 320px;
    font-size: 1rem;
  }
  
  .tools, .skill-tools{
    width: 320px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .tool, .skill-tool{
    margin: 5px;
    padding: 4px 8px;
    border-radius: 12px;
    font-size: .8rem;
  }
  
  .project-btns{
    position: relative;
  }
  
  .project-btns{
    margin-top: 30px;
    position:static;
    width: 250px;
  }
  
  .project-btn{
    padding: 5px 8px;
    font-size: .8rem;
    width: 120px;
    margin: 10px;
  }
  
  .project-image{
    height: 150px;
    width: 300px;
    margin: 5px 0px;
  }

  .project-text-content{
    height: fit-content;
  }


  .skills{
    padding: 60px 0px;
  }

  .skills-subheading{
    font-size: 1rem;
    margin: 10px 0px 40px 0px;
  }
  
  .skill{
    width: 350px;
    height: 350px;
    margin: 0px 10px;
  }
  
  .skill-name{
    font-size: 1.3rem;
    color: var(--black);
    margin: 5px 0px 10px 0px;
  }
  
  .skill-tools{
    position: static;
    width: 330px;
  }
  
  .skill-tool{
    font-size: .75rem;
    padding: 4px 10px;
  }


  .contact{
    padding: 20px 30px;
    text-align: center;
  }
  
  .contact-header{
    font-size: 2rem;
    margin: 0px 0px 20px 0px;
  }
  
  .contact-body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .contact-left-section, .contact-right-section{
    width: 320px;
  }
  
  .contact-left-section > h4{
    font-size: 1.3rem;
  }
  
  .contact-left-section > p{
    width: 320px;
  }
  
  .contact-right-section{
    margin-top: 40px;
  }
  
  .input-name, .input-email, .input-message{
    width: 300px;
    margin: 5px 0px;
  }
  
  .alert-box{
    color: var(--description);
    width: 320px;
    font-size: .9rem;
    margin-top: 10px;
  }
  
  .mail-icon{
    padding: 10px;
    border-radius: 50%;
    background-color: rgb(235, 235, 235);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
  }

  .mail-text-content{
    text-align: start;
  }
}